<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lee.mapper.DiaBsIrsPbBidDetailMapper">
    <insert id="save" parameterType="com.lee.domain.DiaBsIrsPbBidDetail">
        insert into dia_bs_irs_pl_release_detail (
        BAK_ID,
        VER_ID,
        PRJ_ID,
        PLAN_YEAR,
        RELEASE_FUND,
        SUM_TOTAL_FUND,
        TOTAL_FUND,
        CAPITAL_FUND,
        COST_FUND,
        SOFT_FUND,
        HARD_FUND,
        DEVEP_FUND,
        PEF_FUND,
        RES_REPLY_NO,
        STORE_PRJ_GRADE,
        GW_SCORE,
        SJ_SCORE,
        DS_SCORE,
        OTHER_FUND,
        J_TOTAL_FUND,
        J_CAPITAL_FUND,
        J_COST_FUND,
        J_SOFT_FUND,
        J_HAD_FUND,
        J_DEVEP_FUND,
        J_PEF_FUND,
        J_OTHER_FUND,
        ADJUST_REASON,
        ADJUST_TYPE,
        INVE_EXP,
        PRJ_CODE,
        PRJ_NAME,
        BLG_ORG_NO,
        BLG_ORG_NAME,
        DUTY_ROOM_NO,
        DUTY_ROOM_NAME,
        PROMOTE_FLAG,
        SPLIT_FLAG,
        PROMOTE_PRJ_CODE,
        PEF_TYPE_CODE,
        PRJ_SORT_CODE,
        REF_FLAG,
        PRJ_SCALE,
        PRJ_NATURE,
        PEF_SCOPE ,
        PRJ_CONTENT ,
        PRJ_TARGET ,
        PRJ_PLAN ,
        RES_REPLY_DATE ,
        DEPT_NAME,
        CONTACT_NAME,
        PRJ_TYPE_CODE,
        DUTY_USER_NO,
        PRJ_SOURCE_CODE,
        APP_ORG_NO,
        APP_DEPT_NO,
        APP_EMP_NO,
        APP_DATE ,
        REMARK,
        PRJ_STAGE,
        PLAN_START_DATE ,
        PLAN_END_DATE ,
        DUTY_ORG_NO,
        DUTY_DEPT_NO,
        PRJ_SPLIT_FLAG,
        SPLIT_PRJ_ID,
        CONNECT_PRJ,
        BUID_ORG_NO,
        DUTY_DEPT_NAME,
        DUTY_ORG_NAME,
        BUID_ORG_NAME,
        PEF_MODEL,
        DUTY_USER_NAME,
        BUID_DUTY_NO,
        BUID_DUTY_NAME,
        SPLIT_OPR_FLAG,
        SPLIT_OPR_NO,
        SPLIT_OPR_NAME,
        SUM_CAPITAL_FUND,
        SUM_COST_FUND,
        SUM_HARD_FUND,
        SUM_SOFT_FUND,
        SUM_DEVELOP_FUND,
        SUM_PEF_FUND,
        SUM_OTHER_FUND,
        RES_TOTAL_FUND,
        RES_CAPITAL_FUND,
        RES_COST_FUND,
        RES_HARD_FUND,
        RES_SOFT_FUND,
        RES_DEVELOP_FUND,
        RES_PEF_FUND,
        RES_OTHER_FUND,
        CLOSE_FLAG,
        CLOSE_REASON,
        STORE_PLAN_YEAR,
        ALP_PLAN_YEAR,
        PRJ_SCORE,
        FUND_TYPE,
        INCLUDE_HARD_FUND,
        INCLUDE_SOFT_FUND,
        INCLUDE_DEVELOP_FUND,
        INCLUDE_PEF_FUND,
        INCLUDE_OTHER_FUND,
        FUND_TYPE_SPLIT_FLAG,
        IS_NEW_TECH,
        PRJ_NEW_TECH,
        PRJ_CATEGORY,
        IS_INTERNET,
        IS_MICROSERVICES
        ) values
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.BAK_ID,jdbcType=VARCHAR},
            #{item.VER_ID,jdbcType=VARCHAR},
            #{item.PRJ_ID,jdbcType=VARCHAR},
            #{item.PLAN_YEAR,jdbcType=VARCHAR},
            #{item.RELEASE_FUND,jdbcType=DECIMAL},
            #{item.SUM_TOTAL_FUND,jdbcType=DECIMAL},
            #{item.TOTAL_FUND,jdbcType=DECIMAL},
            #{item.CAPITAL_FUND,jdbcType=DECIMAL},
            #{item.COST_FUNDjdbcType=DECIMAL},
            #{item.SOFT_FUND,jdbcType=DECIMAL},
            #{item.HARD_FUND,jdbcType=DECIMAL},
            #{item.DEVEP_FUND,jdbcType=DECIMAL},
            #{item.PEF_FUND,jdbcType=DECIMAL},
            #{item.RES_REPLY_NO,jdbcType=VARCHAR},
            #{item.STORE_PRJ_GRADE,jdbcType=VARCHAR},
            #{item.GW_SCORE,jdbcType=VARCHAR},
            #{item.SJ_SCORE,jdbcType=VARCHAR},
            #{item.DS_SCORE,jdbcType=VARCHAR},
            #{item.OTHER_FUND,jdbcType=DECIMAL},
            #{item.J_TOTAL_FUND,jdbcType=DECIMAL},
            #{item.J_CAPITAL_FUND,jdbcType=DECIMAL},
            #{item.J_COST_FUND,jdbcType=DECIMAL},
            #{item.J_SOFT_FUND,jdbcType=DECIMAL},
            #{item.J_HAD_FUND,jdbcType=DECIMAL},
            #{item.J_DEVEP_FUND,jdbcType=DECIMAL},
            #{item.J_PEF_FUND,jdbcType=DECIMAL},
            #{item.J_OTHER_FUND,jdbcType=DECIMAL},
            #{item.ADJUST_REASON,jdbcType=VARCHAR},
            #{item.ADJUST_TYPE,jdbcType=VARCHAR},
            #{item.INVE_EXP,jdbcType=VARCHAR},
            #{item.PRJ_CODE,jdbcType=VARCHAR},
            #{item.PRJ_NAME,jdbcType=VARCHAR},
            #{item.BLG_ORG_NO,jdbcType=VARCHAR},
            #{item.BLG_ORG_NAME,jdbcType=VARCHAR},
            #{item.DUTY_ROOM_NO,jdbcType=VARCHAR},
            #{item.DUTY_ROOM_NAME,jdbcType=VARCHAR},
            #{item.PROMOTE_FLAG,jdbcType=VARCHAR},
            #{item.SPLIT_FLAG,jdbcType=VARCHAR},
            #{item.PROMOTE_PRJ_CODE,jdbcType=VARCHAR},
            #{item.PEF_TYPE_CODE,jdbcType=VARCHAR},
            #{item.PRJ_SORT_CODE,jdbcType=VARCHAR},
            #{item.REF_FLAG,jdbcType=VARCHAR},
            #{item.PRJ_SCALE,jdbcType=VARCHAR},
            #{item.PRJ_NATURE,jdbcType=VARCHAR},
            #{item.PEF_SCOPE,jdbcType=VARCHAR},
            #{item.PRJ_CONTENT,jdbcType=VARCHAR},
            #{item.PRJ_TARGET,jdbcType=VARCHAR},
            #{item.PRJ_PLAN,jdbcType=VARCHAR},
            #{item.RES_REPLY_DATE,jdbcType=TIMESTAMP},
            #{item.DEPT_NAME,jdbcType=VARCHAR},
            #{item.CONTACT_NAME,jdbcType=VARCHAR},
            #{item.PRJ_TYPE_CODE,jdbcType=VARCHAR},
            #{item.DUTY_USER_NO,jdbcType=VARCHAR},
            #{item.PRJ_SOURCE_CODE,jdbcType=VARCHAR},
            #{item.APP_ORG_NO,jdbcType=VARCHAR},
            #{item.APP_DEPT_NO,jdbcType=VARCHAR},
            #{item.APP_EMP_NO,jdbcType=VARCHAR},
            #{item.APP_DATE,jdbcType=TIMESTAMP},
            #{item.REMARK,jdbcType=VARCHAR},
            #{item.PRJ_STAGE,jdbcType=VARCHAR},
            #{item.PLAN_START_DATE,jdbcType=TIMESTAMP},
            #{item.PLAN_END_DATEjdbcType=TIMESTAMP},
            #{item.DUTY_ORG_NO,jdbcType=VARCHAR},
            #{item.DUTY_DEPT_NO,jdbcType=VARCHAR},
            #{item.PRJ_SPLIT_FLAG,jdbcType=VARCHAR},
            #{item.SPLIT_PRJ_ID,jdbcType=VARCHAR},
            #{item.CONNECT_PRJ,jdbcType=VARCHAR},
            #{item.BUID_ORG_NO,jdbcType=VARCHAR},
            #{item.DUTY_DEPT_NAME,jdbcType=VARCHAR},
            #{item.DUTY_ORG_NAMEjdbcType=VARCHAR},
            #{item.BUID_ORG_NAME,jdbcType=VARCHAR},
            #{item.PEF_MODEL,jdbcType=VARCHAR},
            #{item.DUTY_USER_NAME,jdbcType=VARCHAR},
            #{item.BUID_DUTY_NO,jdbcType=VARCHAR},
            #{item.BUID_DUTY_NAME,jdbcType=VARCHAR},
            #{item.SPLIT_OPR_FLAG,jdbcType=VARCHAR},
            #{item.SPLIT_OPR_NO,jdbcType=VARCHAR},
            #{item.SPLIT_OPR_NAME,jdbcType=VARCHAR},
            #{item.SUM_CAPITAL_FUND,jdbcType=DECIMAL},
            #{item.SUM_COST_FUND,jdbcType=DECIMAL},
            #{item.SUM_HARD_FUND,jdbcType=DECIMAL},
            #{item.SUM_SOFT_FUND,jdbcType=DECIMAL},
            #{item.SUM_DEVELOP_FUND,jdbcType=DECIMAL},
            #{item.SUM_PEF_FUND,jdbcType=DECIMAL},
            #{item.SUM_OTHER_FUND,jdbcType=DECIMAL},
            #{item.RES_TOTAL_FUND,jdbcType=DECIMAL},
            #{item.RES_CAPITAL_FUND,jdbcType=DECIMAL},
            #{item.RES_COST_FUND,jdbcType=DECIMAL},
            #{item.RES_HARD_FUND,jdbcType=DECIMAL},
            #{item.RES_SOFT_FUND,jdbcType=DECIMAL},
            #{item.RES_DEVELOP_FUND,jdbcType=DECIMAL},
            #{item.RES_PEF_FUND,jdbcType=DECIMAL},
            #{item.RES_OTHER_FUND,jdbcType=DECIMAL},
            #{item.CLOSE_FLAG,jdbcType=VARCHAR},
            #{item.CLOSE_REASON,jdbcType=VARCHAR},
            #{item.STORE_PLAN_YEAR,jdbcType=VARCHAR},
            #{item.ALP_PLAN_YEAR,jdbcType=VARCHAR},
            #{item.PRJ_SCORE,jdbcType=DECIMAL},
            #{item.FUND_TYPE,jdbcType=VARCHAR},
            #{item.INCLUDE_HARD_FUND,jdbcType=DECIMAL},
            #{item.INCLUDE_SOFT_FUND,jdbcType=DECIMAL},
            #{item.INCLUDE_DEVELOP_FUND,jdbcType=DECIMAL},
            #{item.INCLUDE_PEF_FUND,jdbcType=DECIMAL},
            #{item.INCLUDE_OTHER_FUND,jdbcType=DECIMAL},
            #{item.FUND_TYPE_SPLIT_FLAG,jdbcType=VARCHAR},
            #{item.IS_NEW_TECH,jdbcType=VARCHAR},
            #{item.PRJ_NEW_TECH,jdbcType=VARCHAR},
            #{item.PRJ_CATEGORY,jdbcType=VARCHAR},
            #{item.IS_INTERNET,jdbcType=VARCHAR},
            #{item.IS_MICROSERVICES,jdbcType=VARCHAR}
            )
        </foreach>
    </insert>

    <delete id="delete" >
        delete from dia_bs_irs_pl_release_detail
        <choose>
            <when test="planYear !=null and planYear != ''">
                where PLAN_YEAR = #{planYear}
            </when>
            <otherwise>
                where PLAN_YEAR is null
            </otherwise>
        </choose>
    </delete>

    <select id="selectByPlanYear" resultType="java.lang.Integer">
        select count(1) from dia_bs_irs_pl_release_detail
        <choose>
            <when test="planYear !=null and planYear != ''">
                where PLAN_YEAR = #{planYear}
            </when>
            <otherwise>
                where PLAN_YEAR is null
            </otherwise>
        </choose>
    </select>
    <select id="selectCount" resultType="java.lang.Integer">
        select count(1) from dia_bs_irs_pl_release_detail
    </select>
    <select id="getTableDateByTableName" resultType="java.util.List">
        select * from dia_bs_irs_pl_release_detail limit #{start}, #{end};
    </select>
</mapper>