<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lee.mapper.EpisodeMapper">


    <select id="findByFirstVideo" resultType="com.lee.domain.Episode">
        select * from episode where video_id = #{videoId} and num = 1
    </select>
</mapper>